# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data (no subir datasets pesados)
data/

# Models (si guardas pesos grandes)
models/

# System files
.DS_Store

# Logs
*.log
